* {margin: 0; padding: 0;}
body {font-family: 'Helvetica', sans-serif;}
li{list-style: none;}
a{text-decoration: none;}

#main_header{
    height: 45px;
    position: relative;
    text-align: center;
    line-height: 45px;   
}

#main_header{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+100,002400+100 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 100%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

}

#main_header>a{
    /*color:#191835;*/   
    color:white;
}

#main_header>label{
    display: block;
    height: 32px;
    position: absolute;
}

#main_header>label.right{
    width: 32px;
    right: 5px; top: 7px;
    background: url('header_right_button.png');
    background-position: 0px 0px;
    text-indent: -99999px;
}

/* Toogle Menu ===========================================*/
#toggle{display: none;}
#toggle + #wrap > #main_toggle_gnb{display: none;}
#toggle:checked + #wrap>#main_toggle_gnb{display: block;}
#main_toggle_gnb{
    overflow: hidden;    
    background: darkgreen;
    padding: 0px;
}
#main_toggle_gnb>div>a{   
    float: left;
    width: 25%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
}
/* Toogle Menu END ========================================*/


#top_gnb{
    overflow: hidden;
    border-bottom: 1px solid black;
    background:#191835;
}

#top_gnb>div>a{
    float: left;
    width: 25%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
}

.main_grid{
    width: 320px;
    margin: 0 auto;
}

.row{overflow: hidden; background: yellow; height: 50px;}
.r1_span1{float: left; width: 100px; margin-left: 10px; margin-right: 10px;}
.r1_span2{float: left; width: 100px; margin-left: 10px; margin-right: 10px;}
.r2_span1{float: left; width: 100px; margin-left: 10px; margin-right: 10px;}
.r2_span2{float: left; width: 100px; margin-left: 10px; margin-right: 10px;}

.r1_span1, .r1_span2, .r2_span1, .r2_span2{line-height: 50px;}